<div class="info">
    <p>
        This webapp is the result of a long collaboration between several institutions at UC Berkeley and beyond. Only a
        few of the contributors are listed here.
    </p>

    <p>
        For questions about the content, and to access content beyond what is provided here, please contact Michael Black,
        mtblack@berkeley.edu.
    </p>

    <p>
        This program was written and and is maintained by John Lowe (jblowe@berkeley.edu) at RIT/IS&T.
    </p>

    <p>
        Comments, suggestions, bug reports, and so on are most welcome.
    </p>

    <p>
        This program is written in <a href="http://www.python.org/">Python</a> using
        <a href="https://www.djangoproject.com/">Django</a>,
        <a href="http://jquery.com/">jQuery</a>, and accessing a
        <a href="http://lucene.apache.org/solr/">Solr4</a> datasource.
        The data is extracted and updated nightly from the PAHMA <a href="http://www.collectionspace.org/">CollectionSpace</a> system.
    </p>

    <p>
</div>