<table cellspace="1" id="resultsListing" class="">
    <thead>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td colspan="6">
                <h2><input type="checkbox" name="item-{{ item.counter }}" value="{{ item.csid }}" checked>
                    Detail of specimen {{ item.accession }}</h2>
            </td>
        <tr>
            <td colspan="6">
                {% if item.blobs %}
                    {% for t in item.blobs %}
                        <a target="image"
                           href="{{ imageserver }}/blobs/{{ t }}/derivatives/OriginalJpeg/content">
                            <img height="100px"
                                 src="{{ imageserver }}/blobs/{{ t }}/derivatives/Thumbnail/content"/>
                        </a>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="size1of10">Specimen ID</td>
            <td class="size2of10"><a
                    href="?displayType=v2&accession={{ item.accession }}">{{ item.accession }}</a>
            </td>
        </tr>
        <tr>
            <td class="size1of10">Determination</td>
            <td colspan="3"><a href="#"
                               onclick="submitForm(0,'determination','{{ item.determination }}')">{{ item.determination }}</a>
            </td>
            <td class="size1of10">Major Group</td>
            <td colspan="2"><a href="#"
                               onclick="submitForm(0,'majorgroup','{{ item.majorgroup }}')">{{ item.majorgroup }}</a>
            </td>
        </tr>

        <tr>
            <td class="size1of10">Collector</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'collector','{{ item.collector }}')">{{ item.collector }}</a>
            </td>
            <td class="size1of10">Date</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'collectiondate','{{ item.collectiondate }}')">{{ item.collectiondate }}</a>
            </td>
            <td class="size1of10">No.</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'collectionnumber','{{ item.collectionnumber }}')">{{ item.collectionnumber }}</a>
            </td>
        </tr>

        <tr>
            <td class="size1of10">County</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'county','{{ item.county }}')">{{ item.county }}</a>
            </td>
            <td class="size1of10">State</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'state','{{ item.state }}')">{{ item.state }}</a>
            </td>
            <td class="size1of10">Country</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'country','{{ item.country }}')">{{ item.country }}</a>
            </td>
        </tr>

        <tr>
            <td class="size1of10">Locality</td>
            <td colspan="5"><a href="#"
                               onclick="submitForm(0,'locality','{{ item.locality }}')">{{ item.locality }}</a>
            </td>
        </tr>
        <tr>
            <td class="size1of10">Habitat</td>
            <td colspan="5">{{ item.habitat }}</td>
        </tr>


        <tr>
            <td class="size1of10">Latitude</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'L1','{{ item.L1 }}')">{{ item.L1 }}</a>
            </td>
            <td class="size1of10">Longitude</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'L2','{{ item.L2 }}')">{{ item.L2 }}</a>
            </td>
            <td class="size1of10">Elevation</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'elevation','{{ item.elevation }}')">{{ item.elevation }}</a>
            </td>
        </tr>

        <tr>
            <td class="size1of10">Min elevation</td>
            <td class="size2of10">{{ item.minelevation }}</td>
            <td class="size1of10">Max elevation</td>
            <td class="size2of10">{{ item.maxelevation }}</td>
            <td class="size1of10">Elevation unit</td>
            <td class="size2of10">{{ item.elevationunit }}</td>
        </tr>

        <tr>
            <td class="size1of10">TRS coordinates</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'trscoordinates','{{ item.trscoordinates }}')">{{ item.trscoordinates }}</a>
            </td>

        <tr>
            <td class="size1of10">Datum</td>
            <td colspan="5"><a href="#"
                               onclick="submitForm(0,'datum','{{ item.datum }}')">{{ item.datum }}</a></td>
        </tr>

        <tr>
            <td class="size1of10">Coordinate source</td>
            <td class="size2of10"><a href="#"
                                     onclick="submitForm(0,'coordinatesource','{{ item.coordinatesource }}')">{{ item.coordinatesource }}</a>
            </td>
            <td class="size1of10">uncertainty</td>
            <td class="size2of10">{{ item.coordinateuncertainty }} {{ item.coordinateuncertaintyunit }}</td>
        </tr>
        <!-- tr>
            <td colspan="6">
                <hr/>
            </td>
        </tr -->
    {% endfor %}
</table>